.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.menu-nav {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    color: white;
}

section {
    display: flex;
    justify-content: center;
}
