.button{
  font-family: "Comic Sans MS", cursive, sans-serif;
  display: inline-block;
  padding: 20px 50px;
  margin: 20px 10px;
  position: relative;
  color: #ecf0f1;
  z-index: 1;
  border-radius: 25px;
  cursor: pointer;
}

/* BUTTON 0*/
#button-0 {
  border: 2px solid #34495e;
  color: red;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#button-0:before, #button-0:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  z-index: -1;
  top: -50%;
  left: 0;
  background-color: red;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#button-0:after {
  top: 100%;
}

#button-0:hover {
  color: #ecf0f1;
}

#button-0:hover:before {
  top: 0;
}

#button-0:hover:after {
  top: 50%;
}

#selected-0 {
  background-color: red;
  color: #ecf0f1;
}

/* BUTTON 1 */
#button-1 {
  border: 2px solid #34495e;
  color: violet;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#button-1:before, #button-1:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  z-index: -1;
  top: -50%;
  left: 0;
  background-color: violet;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#button-1:after {
  top: 100%;
}

#button-1:hover {
  color: #ecf0f1;
}

#button-1:hover:before {
  top: 0;
}

#button-1:hover:after {
  top: 50%;
}

#selected-1 {
  background-color: violet;
  color: #ecf0f1;
}

/* BUTTON 2 */
#button-2 {
  border: 2px solid #34495e;
  color: deepskyblue;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#button-2:before, #button-2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  z-index: -1;
  top: -50%;
  left: 0;
  background-color: blue;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#button-2:after {
  top: 100%;
}

#button-2:hover {
  color: #ecf0f1;
}

#button-2:hover:before {
  top: 0;
}

#button-2:hover:after {
  top: 50%;
}

#selected-2 {
  background-color: blue;
  color: #ecf0f1;
}

/* BUTTON 3 */
#button-3 {
  border: 2px solid #34495e;
  color: greenyellow;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#button-3:before, #button-3:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  z-index: -1;
  top: -50%;
  left: 0;
  background-color: green;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#button-3:after {
  top: 100%;
}

#button-3:hover {
  color: #ecf0f1;
}

#button-3:hover:before {
  top: 0;
}

#button-3:hover:after {
  top: 50%;
}

#selected-3 {
  background-color: green;
  color: #ecf0f1;
}
