.button {
  font-family: "Comic Sans MS", cursive, sans-serif;
  display: inline-block;
  padding: 20px 50px;
  margin: 20px 10px;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  cursor: pointer;
  border: 2px solid #363a3e;
}

.button--unselected {
  color: black;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button--unselected:before,
.button--unselected:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  z-index: -1;
  top: -50%;
  left: 0;
  background-color: black;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button--unselected:after {
  top: 100%;
}

.button--unselected:hover {
  color: #ecf0f1;
}

.button--unselected:hover:before {
  top: 0;
}

.button--unselected:hover:after {
  top: 50%;
}

.button--selected {
  background-color: black;
  color: #ecf0f1;
}
