.logo-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    cursor: pointer;
}

.logo-header h1 {
    display: flex;
    margin: 0;
    z-index: 1;
}

.title1 {
    animation-duration: 3s;
    animation-name: slidein;
    text-shadow: 0px 10px 10px #234D3C;
}

.title2 {
    animation-duration: 3s;
    animation-name: slidein2;
    text-shadow: 0px 10px 10px #234D3C;
}

@keyframes slidein {
    from {
        margin-left: 70%;
    }
    to {
        margin-left: 0%;
    }
}

@keyframes slidein2 {
    from {
        margin-right: 70%;
    }
    to {
        margin-right: 0%;
    }
}