.slider {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide {
    width: 100vw;
    height: 70vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.arrows {
    font-family: "Comic Sans MS", cursive, sans-serif;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 60%;
    font-size: 20px;
}

.arrows div:first-child {
    color: red;
}

.arrows div:last-child {
    color: green;
}
