.slider {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide {
    width: 100vw;
    height: 70vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.arrows {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: black;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 80vw;
    font-size: 25px;
}

@media only screen and (max-width: 360px) {
    .arrows span {
        display: none;
    }
}
